
  <div style="text-align:center">
        <h1>
          Welcome to {{ title }}!
        </h1>
        <!-- <img width="300" alt="Angular Logo" src="assets/img/parcel-logo.png"> -->
       
  </div>

  <form class="example-form">
    <button
    mat-fab color="primary"
    style="width: 200px; height: 200px;"
    routerLink = "/depositParcel">Deposit parcel!</button>

    <button mat-fab color="primary" 
    style="width: 200px; height: 200px; margin-left: 75px"   
    routerLink="/pickUpParcel">Pick up parcel!</button>
</form>
