
<div style="text-align:center; margin-top: 35px; margin-bottom: 35px">
        <h1 style="margin-top: 35px">
          Welcome to the {{ title }}!
        </h1>
        <img width="128" alt="Angular Logo" src="assets/img/open-box128.png">
       
</div>

<form class="example-form">
  <button
    mat-fab color="primary"
    routerLink = "/depositParcel">
    <mat-icon style="transform: scale(2)">inbox</mat-icon>
  </button>

  <button mat-fab color="primary"
    routerLink="/pickUpParcel">
    <mat-icon style="transform: scale(2)">local_post_office</mat-icon>
  </button>
</form>

<h3 style="display: flex; justify-content: center; margin-top: 10px"><span>Deposit Parcel</span><span style="margin-left: 90px"> Pick up Parcel</span></h3>

<style class="sass">
.example-form {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

button {
  margin-left: 35px;
  margin-right: 35px;
  min-width: 150px;
  max-width: 250px;
  min-height: 150px;
  max-height: 250px;
  margin-bottom: 50px;
  height: 100%;
}

</style>

<!--
<mat-chip-list class="mat-chip-list-stacked">
  <mat-chip *ngFor="let chip of availableColors" selected [color]="chip.color">
    {{chip.name}}
  </mat-chip>
</mat-chip-list>
-->
