<mat-sidenav-container class="sidenav-container">

    <mat-sidenav #sidenav class="sidenav" mode="side" opened
    [fixedInViewport]="true"
    >
  
      <mat-toolbar>
        <mat-toolbar-row>
          <h2>test</h2>
        </mat-toolbar-row>
      </mat-toolbar>
  
      <mat-nav-list>
  
        <h2 matSubheader>test2</h2>
        
        <!-- <a *ngFor="let item of myWorkRoutes"
          mat-list-item
          (click)="sidenav.close()"
          [routerLink]="[item.route]"
          routerLinkActive="list-item-active">
          <mat-icon matListIcon> {{ item.icon }} </mat-icon>
          {{item.title}}
        </a> -->
        <a mat-list-item
        (click)="sidenav.close()">
        <mat-icon matListIcon>link</mat-icon>
        </a>
  
        <mat-divider></mat-divider>
  
      </mat-nav-list>
  
    </mat-sidenav>
  
    <!-- <mat-sidenav-content>
      <crm-navigation-bar
        (toggleSidenav)="sidenav.toggle()">
      </crm-navigation-bar>
      <router-outlet></router-outlet>
    </mat-sidenav-content> -->
    <mat-sidenav-content>
            <router-outlet>
  
   
                </router-outlet>
    </mat-sidenav-content>
  
  </mat-sidenav-container>